<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <div class="bg-warning">
            <div class="container">
                <div class="nav-menu-user">
                    <div class="person-intro">
                        Welcome,
                        <b id="person">
                            <%= User.name %>
                        </b>
                    </div>
                </div>
            </div>
        </div>

        <!-- property tex area -->
        <div class="banner">
            <div class="container pt-5">
                <div class="bg-light text-dark">
                    <div>
                        <strong class="p-5 purpel-text">ADD TENMENT NUMBER</strong>
                        <a href="/" class="back-to-page">&lt;Back to Online Service</a>
                    </div>

                    <!-- Include Add Tenment -->
                    <%- include('include/_addTenment')%>
                        <!-- /Include Add Tenment -->



                        <!-- Tenament Data -->
                        <div class="accordion container p-5 " id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button alert alert-primary" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        My Tenament Numbers
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope=" col">Tenement No</th>
                                                    <th scope="col">User</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Usage</th>
                                                    <th scope="col">Last bill due date </th>
                                                    <th scope="col">Status </th>
                                                    <th scope="col">Total Bill</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i<Tenment.length; i++) {%>
                                                    <tr class="payment-pandding">
                                                        <th scope="row">
                                                            <%= Tenment[i][0].tenament%>
                                                        </th>
                                                        <td>
                                                            <%= Tenment[i][0].Name%>
                                                        </td>
                                                        <td>
                                                            <%= Tenment[i][0].Postal_address%>
                                                        </td>
                                                        <td>
                                                            <%= Tenment[i][0].Usage%>
                                                        </td>
                                                        <td>
                                                            <%= Tenment[i][0].Last_Bill_Issue_Date%>
                                                        </td>
                                                        <td>
                                                            <% if (Tenment[i][0].Status) { %>
                                                                <img src="/img/ok.png" height="25px" />
                                                                <% } else { %>
                                                                    <img src="/img/cancel.png" height="18px" />
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%= Tenment[i][0].Total%>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>


        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->