<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <div class="bg-warning">
            <div class="container">
                <div class="nav-menu-user">
                    <div class="person-intro">
                        Welcome,
                        <a class="userEdit" href="/admin/dashBoard/adminProfile">
                            <b id="person">
                                <%= User.name%>
                            </b>
                        </a>
                        <div class="space-1000"></div>
                        <a href="/admin/dashBoard" class="User-details-for-admin"><i class="fa-solid fa-house"></i>
                            DashBoard</a>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <div class="banner">
                <div class="hid"></div>
                <div class="container pt-4 main-container ">
                    <div class="back-billboard">
                        <strong class="purpel-text">Admin Profile</strong>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="userdata"><strong>Name : </strong>
                            <div>
                                <%= User.name%>
                            </div>
                        </div>
                        <hr>
                        <div class="userdata"><strong>Email : </strong>
                            <div>
                                <%= User.email%>
                            </div>
                        </div>
                        <hr>
                        <div class="userdata"><strong>Post : </strong>
                            <div>
                                <%= User.post%>
                            </div>
                        </div>
                        <hr>
                        <div class="userdata signUp-btn">
                            <a href="/admin/dashBoard/adminProfile/adminProfileEdit">Edit</a>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->