<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <div class="bg-warning">
            <div class="container">
                <div class="nav-menu-user">
                    <div class="person-intro">
                        Welcome,
                        <a class="userEdit" href="/admin/dashBoard/adminProfile">
                            <b id="person">
                                <%= User.name%>
                            </b>
                        </a>
                        <a href="/admin/dashBoard/userDetails" class="User-details-for-admin"><i
                                class="fa-solid fa-user"></i> User Details</a>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <div class="banner">
                <div class="hid"></div>
                <div class="container pt-4 main-container ">
                    <div class="back-billboard">
                        <strong class="purpel-text">Profile Edit</strong>
                    </div>
                    <!-- Form Handaling -->
                    <form action="/admin/dashBoard/adminProfile/adminProfileEdit/adminProfileEditSubmit" method="POST"
                        id="add_user">
                        <div class="new_user">
                            <div class="from-group">
                                <label for="name" class="txt-dark">Name<span class="redTick"> *</span></label>
                                <input type="hidden" name="id" value="">
                                <input type="text" name="name" value="<%= User.name %>" placeholder="Elon musk">
                            </div>
                            <div class="from-group">
                                <label for="email" class="txt-dark">Email<span class="redTick"> *</span></label>
                                <input type="text" name="email" value="<%= User.email %>"
                                    placeholder="example@gmail.com">
                            </div>
                            <div class="from-group">
                                <label for="password" class="txt-dark">Password<span class="redTick"> *</span></label>
                                <input type="text" name="password" value="<%= User.password %>" placeholder="123456">
                            </div>

                            <div class="from-group">
                                <button type="submit" class="btn btn-outline-warning">Submit</button>
                            </div>
                        </div>
                    </form>
                    <!-- /Form Handaling -->
                </div>
            </div>

            </div>
        </main>

        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->