<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <!-- Include User Navbar -->
        <%- include('include/_user_bar')%>
            <!-- /Include User Navbar -->

            <!-- property tex area -->
            <div class="banner">
                <div class="container pt-5">
                    <div class="bg-light text-dark pt-4">
                        <div>
                            <strong class="p-5 purpel-text">PROPERTY TAX</strong>
                        </div>

                        <!-- My Registration and My Transaction -->
                        <div class="container pt-3">
                            <div class=" accordion" id="accordionPanelsStayOpenExample">
                                <div class="container m-1 p-3 accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button alert alert-primary" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                            My properties
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope=" col">Tenement No</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Usage</th>
                                                        <th scope="col" class="Center-text">Last bill due date </th>
                                                        <th scope="col" class="Center-text">Total Bill</th>
                                                        <th scope="col" class="Center-text">Pay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i<Tenment.length; i++) {%>
                                                        <% if(!Tenment[i][0].Status) { %>
                                                            <tr class="payment-pandding">
                                                                <th scope="row">
                                                                    <%= Tenment[i][0].tenament%>
                                                                </th>
                                                                <td>
                                                                    <%= Tenment[i][0].Postal_address%>
                                                                </td>
                                                                <td>
                                                                    <%= Tenment[i][0].Usage%>
                                                                </td>
                                                                <td class="Center-text">
                                                                    31/12/<%= new Date().getFullYear();%>
                                                                </td>
                                                                <td class="Center-text">
                                                                    <%= Tenment[i][0].Total%>
                                                                </td>
                                                                <td class="Center-text">
                                                                    <a class="Pay-btn shadow-sm"
                                                                        href="/user/BillDashbord/BillPayment/<%= Tenment[i][0].tenament %>"><i
                                                                            class="fa-solid fa-credit-card"></i> Pay
                                                                        Now</a>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                                <% } %>
                                                                    <tr class="payment-pandding pay">
                                                                        <td class="pay-text" colspan="3">
                                                                            <strong>Pay all the
                                                                                bills.</strong>
                                                                        </td>
                                                                        <td class="Center-text">
                                                                            31/12/<%= new Date().getFullYear();%>
                                                                        </td>
                                                                        <td class="Center-text">
                                                                            <%= TotalPay %>
                                                                        </td>
                                                                        <td class="Center-text">
                                                                            <a class="shadow-sm pay-all" href="#"><i
                                                                                    class="fa-solid fa-credit-card"></i>
                                                                                Pay All</a>
                                                                        </td>
                                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- My Transaction  -->
                                <div class="container accordion-item m-1 mt-2 pt-3">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <button class="accordion-button collapsed alert alert-primary" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                            My Transaction
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                        aria-labelledby="panelsStayOpen-headingTwo">
                                        <div>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope=" col">Tenment No.</th>
                                                        <th scope=" col">Transaction id</th>
                                                        <th scope="col">Transaction Date</th>
                                                        <th scope="col">Ref. No</th>
                                                        <th scope="col" class="Center-text">Total Payed</th>
                                                        <th scope="col" class="Center-text">Status</th>
                                                        <th scope="col" class="Center-text">Print</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i<Payment.length; i++) {%>
                                                        <% if(Payment[i].length && Payment[i][0].Status &&
                                                            (Payment[i][0].paymentYear)==year) { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= Payment[i][0].tenament %>
                                                                </th>
                                                                <th>
                                                                    <%= Payment[i][0].Transcation_ID %>
                                                                </th>
                                                                <td>
                                                                    <%= Payment[i][0].Date %>
                                                                </td>
                                                                <td>
                                                                    <%= Payment[i][0].Reference %>
                                                                </td>
                                                                <td class="Center-text">
                                                                    <%= Payment[i][0].Total %>
                                                                </td>
                                                                <td class="Center-text">
                                                                    <img src="/img/ok.png" height="25px" />
                                                                </td>
                                                                <td>
                                                                    <div class="login-btn Center-text">
                                                                        <a class="login shadow-sm"
                                                                            href="/user/BillDashbord/Download/<%= Payment[i][0].tenament %>"><i
                                                                                class="fa-solid fa-file-pdf"></i>
                                                                            Receipt</a>
                                                                    </div>

                                                                </td>
                                                            </tr>
                                                            <% }%>
                                                                <% }%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Include Footer -->
            <%- include('include/_footer')%>
                <!-- /Include Footer -->