<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <div class="bg-warning">
            <div class="container">
                <div class="nav-menu-user">
                    <div class="person-intro">
                        Welcome,
                        <a class="userEdit" href="/admin/dashBoard/adminProfile">
                            <b id="person">
                                <%= User.name%>
                            </b>
                        </a>
                        <div class="space-575"></div>
                        <a href="/admin/dashBoard/propertyRequest" class="propertyRequest"><i
                                class="fa-solid fa-file pt-1 pe-1"></i>
                            Property request <span class="badge bg-primary rounded-pill totalRequest ms-1">
                                <%= totalRequest %>
                            </span> </a>
                        <a href="/admin/dashBoard/Report" class="report"><i class="fa-solid fa-file"></i>
                            Report</a>
                        <a href="/admin/dashBoard/addTenment" class="Tenament-add"><i
                                class="fa-solid fa-file-circle-plus"></i> Add
                            Tenament</a>
                        <a href="/admin/dashBoard/userDetails" class="User-details-for-admin"><i
                                class="fa-solid fa-user"></i> User Details</a>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <div class="banner">
                <div class="hid"></div>
                <div class="container pt-4 main-container ">
                    <span>
                        <strong class="purpel-text">DashBoard</strong>
                    </span>
                    <hr>

                    <div class="search p-3">
                        <input id="search-input" class="form-control me-2" type="text" name="tenment"
                            placeholder="Search" aria-label="Search">
                        <button id="search-btn" class="btn btn-outline-success" onclick="Search()"
                            type="submit">Search</button>
                    </div>

                    <!-- Search Result -->
                    <div class="search-result ">
                    </div>

                    <hr>

                    <!-- Chart -->
                    <div class="Center-text"><strong>Statistics Data</strong></div>
                    <hr>
                    <div class="line-chart">
                        <canvas class="line-chart" id="myChart"></canvas>
                    </div>
                    <hr>
                    <div class="chart">
                        <div class="chart-item">
                            <canvas id="myChart2"></canvas>
                        </div>
                        <div class="chart-item">
                            <canvas id="myChart3"></canvas>
                        </div>
                    </div>
                    <hr>
                    <!-- /Chart -->

                    <!-- list-payment holder -->
                    <div class="list-payment">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        Taluka
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <!-- taluka -->
                                        <% userBill.forEach(function (value, key) { %>
                                            <div class="list-payment p-2">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#panelsStayOpen-collapseTwo"
                                                            aria-expanded="false"
                                                            aria-controls="panelsStayOpen-collapseTwo">
                                                            <%= key %>
                                                        </button>
                                                    </h2>

                                                    <div id="panelsStayOpen-collapseTwo"
                                                        class="accordion-collapse collapse show"
                                                        aria-labelledby="panelsStayOpen-headingTwo">
                                                        <div class="accordion-body">
                                                            <!-- table -->
                                                            <table class="table table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope=" col">Tenement No</th>
                                                                        <th scope="col">User</th>
                                                                        <th scope="col">Address</th>
                                                                        <th scope="col">Usage</th>
                                                                        <th scope="col" class="Center-text">Status </th>
                                                                        <th scope="col" class="Center-text">Total Bill
                                                                        </th>
                                                                        <th scope="col" class="Center-text">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% for( let i=0; i < userBill.get(key).length; i++ )
                                                                        { %>
                                                                        <tr class="payment-pandding">
                                                                            <th scope="row">
                                                                                <%= userBill.get(key)[i].tenament%>
                                                                            </th>
                                                                            <td>
                                                                                <%= userBill.get(key)[i].Name%>
                                                                            </td>
                                                                            <td>
                                                                                <%=
                                                                                    userBill.get(key)[i].Postal_address%>
                                                                            </td>
                                                                            <td>
                                                                                <%= userBill.get(key)[i].Usage%>
                                                                            </td>
                                                                            <td class="Center-text">
                                                                                <% if (userBill.get(key)[i].Status) { %>
                                                                                    <img src="/img/ok.png"
                                                                                        height="25px" />
                                                                                    <% } else { %>
                                                                                        <img src="/img/cancel.png"
                                                                                            height="18px" />
                                                                                        <% } %>
                                                                            </td>
                                                                            <td class="Center-text">
                                                                                <%= userBill.get(key)[i].Total%>
                                                                            </td>
                                                                            <td class="Center-text">
                                                                                <a class="Pay-btn shadow-sm"
                                                                                    href="/admin/dashBoard/details/<%= userBill.get(key)[i].tenament%>"><i
                                                                                        class="fa-solid fa-circle-info"></i>
                                                                                    Details</a>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                </tbody>
                                                            </table>
                                                            <!-- /table -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                                <!-- /taluka -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /list-payment holder -->



                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                    <script>
                        const ctx = document.getElementById('myChart');
                        const ctx2 = document.getElementById('myChart2');
                        const ctx3 = document.getElementById('myChart3');

                        const year = new Date().getFullYear();
                        new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [year - 4, year - 3, year - 2, year - 1, year],
                                datasets: [{
                                    label: 'Payment',
                                    data: ['<%-year[0]%>', '<%-year[1]%>', '<%-year[2]%>', '<%-year[3]%>', '<%-year[4]%>'],
                                    fill: true,
                                    borderColor: 'rgb(75, 192, 192)',
                                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                                    tension: 0.1,
                                    hoverOffset: 4
                                }]
                            },
                            options: {
                                scales: { x: { title: { display: true, font: { size: 15 }, text: 'Year' } }, y: { title: { display: true, font: { size: 15 }, text: 'Rupees' } } }
                            }
                        });


                        new Chart(ctx2, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'Property_tax',
                                    'Water_tax',
                                    // 'Drainage_tax',
                                    'SW_tax',
                                    // 'Street_Light',
                                    'Fire_Charge',
                                    // 'Env_improve_charge',
                                    // 'Education_Cess',
                                ],
                                datasets: [{
                                    label: 'My First Dataset',
                                    data: ['<%-tenData[0]%>', '<%-tenData[1]%>', '<%-tenData[3]%>', '<%-tenData[5]%>'],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.5)',
                                        'rgba(75, 192, 192, 0.5)',
                                        'rgba(255, 205, 86, 0.5)',
                                        'rgba(54, 162, 235, 0.5)'
                                    ]
                                }]
                            },
                        });

                        new Chart(ctx3, {
                            type: 'polarArea',
                            data: {
                                labels: [
                                    // 'Property_tax',
                                    // 'Water_tax',
                                    'Drainage_tax',
                                    // 'SW_tax',
                                    'Street_Light',
                                    // 'Fire_Charge',
                                    'Env_improve_charge',
                                    'Education_Cess',
                                ],
                                datasets: [{
                                    label: 'My First Dataset',
                                    data: ['<%-tenData[2]%>', '<%-tenData[4]%>', '<%-tenData[6]%>', '<%-tenData[7]%>'],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.5)',
                                        'rgba(75, 192, 192, 0.5)',
                                        'rgba(255, 205, 86, 0.5)',
                                        'rgba(54, 162, 235, 0.5)'
                                    ]
                                }]
                            },
                        });
                    </script>
                    <!-- /Chart -->
                </div>

            </div>
        </main>

        <script type="text/javascript">
            function Search() {
                const searchValue = document.getElementById('search-input').value;
                const searchBtn = document.getElementById('search-btn');
                // console.log(searchValue);
                searchBtn.addEventListener('click', (() => {
                    fetch('/admin/api/dashBoard', {
                        headers: { 'Content-Type': 'application/json' },
                        method: 'POST',
                        body: JSON.stringify({
                            'tenament': searchValue
                        })
                    }).then(res => {
                        return res.json();
                    }).then((data) => {
                        const Data = data;
                        const DataArray = Object.keys(Data)
                        const searchData = document.querySelector('.search-result');
                        if (DataArray.length) {
                            const status = Data.data.Status ? '<img src="/img/ok.png" height="25px" /> ' : ' <img src="/img/cancel.png" height="18px" /> '
                            searchData.innerHTML = `<table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope=" col">Tenement No</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Usage</th>
                                        <th scope="col">Status </th>
                                        <th scope="col">Total Bill</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="payment-pandding">
                                        <th scope="row">
                                            ${Data.data.tenament}
                                        </th>
                                        <td>
                                            ${Data.data.Name}
                                        </td>
                                        <td>
                                            ${Data.data.Postal_address}
                                        </td>
                                        <td>
                                            ${Data.data.Usage}
                                        </td>
                                        <td>
                                            ${status}
                                        </td>
                                        <td>
                                            ${Data.data.Total}
                                        </td>
                                        <td>
                                            <a class="Pay-btn shadow-sm" href='/admin/dashBoard/details/${Data.data.tenament}'>Details</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>`;
                        }
                        else {
                            searchData.classList.add('pb-2');
                            searchData.classList.add('Center-text');
                            searchData.innerHTML = "<strong>No Data Found</strong>";
                        }
                        document.getElementById('search-input').value = "";
                        return true;
                    }).catch(err => {
                        console.log('ERROR : ', err);
                    })
                })()
                );
            }

        </script>

        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->