<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <main>
            <div class="banner">
                <div class="hid"></div>
                <div class="container pt-5 main-container ">
                    <span>
                        <strong class="purpel-text">Forgot Password</strong>
                    </span>
                    <hr>
                    <% if (send) { %>
                        <div class="alert alert-success px-4 mx-5" role="alert">
                            Successfully send mail for forgot passsword.
                        </div>
                        <% } %>
                            <% if (alert) { %>
                                <div class="alert alert-danger px-4 mx-5" role="alert">
                                    Please enter proper email.
                                </div>
                                <% } %>
                                    <% if (UserForgot) { %>
                                        <!-- Form Handaling -->
                                        <form action="/user/api/forgot" method="POST" id="add_user">
                                            <!-- Include _forgot_form -->
                                            <%- include('include/_forgot_form')%>
                                                <!-- /Include _forgot_form -->
                                        </form>
                                        <!-- /Form Handaling -->
                                        <% } else { %>
                                            <!-- Form Handaling -->
                                            <form action="/admin/api/forgot" method="POST" id="add_user">
                                                <!-- Include _forgot_form -->
                                                <%- include('include/_forgot_form')%>
                                                    <!-- /Include _forgot_form -->
                                            </form>
                                            <!-- /Form Handaling -->
                                            <% } %>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            function Forgot() {
                const forgotButton = document.getElementById('forgot');
                forgotButton.innerHTML = "Loading...";
            }
        </script>
        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->