<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <main>
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="d-flex flex-row mb-3">
                    <div class="spinner-border text-dark" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <h3 class="payment-success">Loading...</h3>
                </div>
                <div class="invisible">
                    <form
                        action="/user/successMail/<%= TransactionDetails.id %>/<%= TransactionDetails.Transcation_ID %>/<%= TransactionDetails.Reference %>"
                        method="post">
                        <button class="submit-btn" type="submit">submit</button>
                    </form>
                </div>
            </div>
        </main>

        <script>
            (function () {
                document.querySelector('.submit-btn').click();
            })();
        </script>

        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->