<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <main>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="Center-text">Transaction Successful</h3>
                <h6 class="Center-text">Transaction ID : <%= TransactionDetails.Transcation_ID %>
                </h6>
                <h6 class="Center-text">Reference : <%= TransactionDetails.Reference %>
                </h6>
                <a href="/user/BillDashbord">
                    <h6 class="Center-text">&lt; Back To The DashBoard</h6>
                </a>
            </div>
        </main>

        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->