<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <!-- Include User Navbar -->
        <%- include('include/_user_bar')%>
            <!-- /Include User Navbar -->

            <!-- property tex area -->
            <div class="banner ">
                <div class="container pt-5">
                    <div class="container py-3 bg-light text-dark">
                        <span>
                            <strong class="p-5 my-2" style="color: #4e109f; font-size: 30px">ONLINE PROPERTY TAX
                                INFORMATION</strong>
                        </span>
                        <!-- alert -->
                        <div class="alert alert-primary px-4 my-3 mx-5" role="alert">
                            <b>NOTE: </b>The Online Service will be unavailable due to
                            maintenance during 23.30 to 00.30 hours daily
                        </div>

                        <!-- table -->
                        <table class=" table table-bordered">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="4" scope="col">
                                            <b style="font-size: 25px;">Property Tax Information</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="px-5">
                                            <b>Tenement No.</b>
                                            <p>
                                                <%= Tenment[0].tenament %>
                                            </p>
                                        </td>
                                        <td class="amount" rowspan="8" class="p-5">
                                            <b>Outstanding Amount</b>
                                            <p>Rs.
                                                <%= Tenment[0].Total %>/-
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5">
                                            <b>Name</b>
                                            <p>
                                                <%= Tenment[0].Name %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5">
                                            <b>Postal Address</b>
                                            <p>
                                                <%= Tenment[0].Postal_address %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5">
                                            <b>Location Address</b>
                                            <p>
                                                <%= Tenment[0].Local_address %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5">
                                            <b>Usage</b>
                                            <p>
                                                <%= Tenment[0].Usage %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5">
                                            <b>OCCUPIER</b>
                                            <p>
                                                <%= Tenment[0].Occupier %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5">
                                            <b>Last Bill Issue Data</b>
                                            <p>
                                                31/10/<%= new Date().getFullYear();%>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5">
                                            <b>Last Bill Due Date</b>
                                            <p>
                                                31/12/<%= new Date().getFullYear();%>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-5" colspan="2">
                                            <!-- iner table -->
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Particulars</th>
                                                        <th scope="col">Rateable Sys. Arrears</th>
                                                        <th scope="col">Areabase Arrears</th>
                                                        <th scope="col">Areabase Current Tax</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Property Tax</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Property_tax %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Water Charge</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Water_tax %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Drainage Charge</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Drainage_tax %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">SW Charge</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].SW_tax %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Street Light Charge</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Street_Light %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Fire Charge</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Fire_Charge %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Env.Improve.Charge</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Env_improve_charge %>
                                                        </td>
                                                    </tr>
                                                    <tr class="rebate">
                                                        <th scope="row">Rebate</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Rebate %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Education Cess</th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Education_Cess %>
                                                        </td>
                                                    </tr>
                                                    <tr style="font-weight: bold">
                                                        <th scope="row">
                                                            <b>Total</b>
                                                        </th>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>
                                                            <%= Tenment[0].Total %>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!-- alert -->
                                            <div class="alert alert-primary px-4 mx-5" role="alert">
                                                <b>NOTE: </b>Outstanding amount displayed as on Date <%= `${new
                                                    Date().getDay() + 11}/${new Date().getMonth() + 1}/${new
                                                    Date().getFullYear()} ${new Date().getHours()}:${new
                                                    Date().getMinutes()}:${new Date().getSeconds()}` %>
                                                    PM</br>
                                                    Kindly make timely payment considering the last date for bill
                                                    payment /
                                                    availing discount.
                                            </div>

                                            <!-- Botton login and register -->
                                            <div class="tax-pay-btn py-3">
                                                <button class="tax-pay" type="button" id="payment-btn">Pay Now <i
                                                        class="fa-solid fa-credit-card"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </table>
                    </div>
                </div>
            </div>
            <script src="https://js.stripe.com/v3/"></script>
            <script type="text/javascript">
                const stripe = Stripe('pk_test_51MRd1TSHnaTCqUYFpfGgYDpi0fimglGzvaMpnFLpNbLuykagjbGfduLqizMKTpcE6l63yGxzGRerSL4Sf1jWLzLK003y0XERXL');
                const checkoutButton = document.getElementById('payment-btn');

                checkoutButton.addEventListener('click', function () {
                    checkoutButton.innerHTML = "Loading...";
                    checkoutButton.disabled = true;
                    checkoutButton.classList.remove("tax-pay");
                    checkoutButton.classList.add("tax-pay-click");

                    fetch('/user/BillDashbord/payment/<%= Tenment[0]._id %>', {
                        headers: { 'Content-Type': 'application/json' },
                        method: 'POST',
                        body: JSON.stringify({
                            'product': {
                                'name': '<%= Tenment[0].Postal_address %>',
                                'description': '<%= Tenment[0].tenament %>',
                                'amount': '<%= Tenment[0].Total %>'
                            }
                        })
                    }).then(function (response) {
                        return response.json();
                    }).then(function (session) {
                        return stripe.redirectToCheckout({ sessionId: session.id })
                    }).then(function (result) {
                        if (result.error) {
                            alert(result.error.message)
                        }
                    }).catch(function (err) {
                        console.log("ERROR:", err);
                    });
                });
            </script>
            <!-- Include Footer -->
            <%- include('include/_footer')%>
                <!-- /Include Footer -->