<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <!-- Include User Navbar -->
        <%- include('include/_user_bar')%>
            <!-- /Include User Navbar -->

            <main>
                <div class="banner">
                    <div class="hid"></div>
                    <div class="container pt-5 main-container ">
                        <span>
                            <strong class="purpel-text">User Profile Edit</strong>
                        </span>
                        <hr>
                        <!-- Include Form -->
                        <%- include('include/_user_edit_form')%>
                            <!-- /Include Form -->
                    </div>

                </div>
            </main>

            <!-- Include Footer -->
            <%- include('include/_footer')%>
                <!-- /Include Footer -->