<!-- Form Handaling -->
<form action="/user/BillDashbord/userProfile/userEdit/userEditSubmit" method="POST" id="add_user">
    <div class="new_user">
        <div class="from-group">
            <label for="name" class="txt-dark">Name<span class="redTick"> *</span></label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="<%= User.name %>" placeholder="Elon musk">
        </div>
        <div class="from-group">
            <label for="email" class="txt-dark">Email<span class="redTick"> *</span></label>
            <input type="text" name="email" value="<%= User.email %>" placeholder="example@gmail.com">
        </div>
        <div class="from-group">
            <label for="number" class="txt-dark">Mobile number<span class="redTick"> *</span></label>
            <input type="number" name="number" value="<%= User.number %>" placeholder="1234567890">
        </div>
        <div class="from-group">
            <label for="code" class="txt-dark">PinCode<span class="redTick"> *</span></label>
            <input type="number" name="code" value="<%= User.code %>" placeholder="123456">
        </div>
        <div class="from-group">
            <label for="password" class="txt-dark">Password<span class="redTick"> *</span></label>
            <div class="password-show">
                <input class="passShow" type="password" name="password" value="<%= User.password %> "
                    placeholder="123456"><a href="#" onclick="passwordShow()"><i
                        class="fa-regular fa-eye-slash"></i></a>
            </div>
        </div>

        <div class="from-group">
            <button type="submit" class="btn btn-outline-warning">Submit</button>
        </div>
    </div>
</form>

<script>
    function passwordShow() {
        const icon = document.querySelector('.passShow').type;
        if (icon == "password") {
            document.querySelector('.passShow').type = 'text';
            document.querySelector('.fa-regular').classList.remove("fa-eye-slash");
            document.querySelector('.fa-regular').classList.add("fa-eye");
        } else {
            document.querySelector('.passShow').type = 'password';
            document.querySelector('.fa-regular').classList.remove("fa-eye");
            document.querySelector('.fa-regular').classList.add("fa-eye-slash");
        }
    }
</script>
<!-- /Form Handaling -->